{% extends 'base.html' %}
{% block content %}
<section class="table-card card">
    <h2>Назначения</h2>
    <table>
        <thead><tr><th>Специалист</th><th>Проект</th><th>Роль</th><th>Статус</th></tr></thead>
        <tbody>
            {% for item in assignments %}
            <tr>
                <td>{{ item.specialist }}</td>
                <td>{{ item.project }}</td>
                <td>{{ item.role }}</td>
                <td>{{ item.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
